<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
<!-- Password Reset Server -->
  <t:site key="PRSOfflineUpgradeKB">/prs/5.2.0/installation/upgrade/index.md</t:site>
  <t:site key="PRSWindows63InstallerGuide">/prs/5.2.0/installation/</t:site>
  <t:site key="PRSHelp">/prs/5.2.0/user/</t:site>
  <t:site key="PRSInstallerHelp">/prs/5.2.0/installation/</t:site>
  <t:site key="PRSUserGuide">/prs</t:site>
  <t:site key="PRSEndUserGuide">/prs/5.2.0/user</t:site>
  <t:site key="PRSHelpDeskGuide">/prs/5.2.0/helpdesk</t:site>
  <t:site key="PRSAPIGuide">/prs/5.2.0/api</t:site>
  <t:site key="PRSNeedHelp">/prs/5.2.0/support</t:site>
  <t:site key="PRSInstallThroughGroupPolicy">/prs/5.2.0/installation/</t:site>
  <t:site key="PRSRequiredPermissionsForReset">/prs/5.2.0/installation/</t:site>
  <t:site key="PRSCSVExamples">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSDRGuide">/prs/5.2.0/dr/index.md</t:site>
  <t:site key="PRSCreateCustomImageSet">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSHTMLEmailHelp">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSSMSGateway">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSPhoneNumberFormatHelp">/prs/5.2.0/user/</t:site>
  <t:site key="PRSNetFxVersion">/prs/5.2.0/installation/</t:site>
  <t:site key="PRSAppPoolFix">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSPowerShellModules">/prs/5.2.0/installation/</t:site>
  <t:site key="PRSRotateDomainCredentials">/prs/5.2.0/admin/</t:site>
  <t:site key="AdvancedDomainConfiguration">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSsyslog">/prs/5.2.0/integration/index.md</t:site>
  <t:site key="PRSSecureCookieSessions">/prs/5.2.0/admin/</t:site>
  <t:site key="PRSOfflineReset">/prs/5.2.0/user/</t:site>
  <t:site key="PRSofflinefile">/prs/5.2.0/installation/upgrade</t:site>
  <t:site key="TeleSignSignUp">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="ProxStopSignUp">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSSqlEncryptionKnowledgeBase">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSSqlFailoverPartnerKnowledgeBase">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="BackupDatabaseFilePath">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSInstallThroughUI">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSDatabaseTimeout">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSEmailAddressesBlank">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSRequestLengthExceeded">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="OutOfMemoryException">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="DatabaseLoginFailed">/prs/5.2.0/troubleshooting/</t:site>
  <t:site key="PRSEnableAspNet">/prs/5.2.0/troubleshooting/</t:site>

  <!-- Installers -->
  <t:site key="PRSDownload">https://updates.thycotic.net/passwordresetserver/passwordresetserver.zip</t:site>
  <t:site key="PRSDownloadLatestVersion">https://updates.thycotic.net/passwordresetserver/GetLatestVersion.aspx</t:site>

  <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>
